Assignment0BhavdeepAhluwalia/assignment0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://sample" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="movies" type="sam:moviesType" xmlns:sam="http://sample"/>
  <xs:complexType name="moviesType">
    <xs:sequence>
      <xs:element type="sam:movieType" name="movie" xmlns:sam="http://sample" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actorsType">
    <xs:sequence>
      <xs:element type="xs:string" name="aname"/>
      <xs:element type="xs:string" name="DateOfBirth"/>
    </xs:sequence>
  </xs:complexType>
  <xs:restriction base="xs:int">
    <xs:pattern value="\d\d-\d\d-\d\d\d\d"/>
  </xs:restriction>
  <xs:complexType name="movieType">
    <xs:sequence>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:simpleType" name="year"/>
      <xs:restriction base="xs:int">
        <xs:pattern value="\d\d\d\d"/>
      </xs:restriction>
      <xs:element type="xs:string" name="genre"/>
        <xs:restriction base="xs:string">
          <xs:enumeration value="action" />
          <xs:enumeration value="Adventure" />
          <xs:enumeration value="Comedy" />
          <xs:enumeration value="Drama" />
          <xs:enumeration value="Fantasy" />
          <xs:enumeration value="Horror" />
          <xs:enumeration value="Mystery" />
          <xs:enumeration value="Thriller" />
          <xs:enumeration value="Western" />
        </xs:restriction>
      <xs:element type="sam:actorsType" name="actors" xmlns:sam="http://sample"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>